{
    "test": (
        name: "test",
        variations: {
            1: (
                args_count: 1,
                url_pattern: "{0}",
            ),
            2: (
                args_count: 2,
                url_pattern: "{0}/{1}",
            ),
        },
    ),
}